nav{
    color: white;
    background-color: orange;
    padding: 4px;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}
.next{
    background-color: orangered;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.next:hover{
    background-color: orange;
}